
{% if certificates.count == 0 %}
<p>No orders found</p>
{% endif %}
{% if certificates.count > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Certificate ID</th>
            <th>Receiver Name</th>
            <th>Number of Tree</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ certificate.id }}</td>
                {% if certificate.receiverName %}
                    <td>{{ certificate.receiverName }}</td>
                {% else %}
                    <td>{{ certificate.order.bill.firstName }}</td>
                {% endif %}
                <td>{{ certificate.getTotalTrees }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
